/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "./boards/shields/klink_kbd/common.keymap"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        Qmark {
            bindings = <&kp QMARK>;
            key-positions = <34 35>;
            layers = <0>;
        };

        Spaces_to_Ralt {
            bindings = <&kp RALT>;
            key-positions = <39 40>;
            layers = <0>;
        };

        Bang {
            bindings = <&kp EXCL>;
            key-positions = <0 1>;
            layers = <0>;
        };

        At {
            bindings = <&kp AT>;
            key-positions = <1 2>;
            layers = <0>;
        };

        Hash {
            bindings = <&kp HASH>;
            key-positions = <2 3>;
            layers = <0>;
        };

        Dollar {
            bindings = <&kp DLLR>;
            key-positions = <3 4>;
            layers = <0>;
        };

        PCNT {
            bindings = <&kp PRCNT>;
            key-positions = <4 5>;
            layers = <0>;
        };

        Caret {
            bindings = <&kp CARET>;
            key-positions = <5 6>;
            layers = <0>;
        };

        Amp {
            bindings = <&kp AMPS>;
            key-positions = <6 7>;
            layers = <0>;
        };

        Asterisk {
            bindings = <&kp STAR>;
            key-positions = <8 7>;
            layers = <0>;
        };

        LeftParen {
            bindings = <&kp LPAR>;
            key-positions = <9 8>;
            layers = <0>;
        };

        RightParen {
            bindings = <&kp RPAR>;
            key-positions = <10 9>;
            layers = <0>;
        };

        Minus {
            bindings = <&kp MINUS>;
            key-positions = <11 10>;
            layers = <0>;
        };

        Equal {
            bindings = <&kp EQUAL>;
            key-positions = <12 11>;
            layers = <0>;
        };
    };

    behaviors {
        TD_colon_quote: TD_colon_quote {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_COLON_QUOTE";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp SEMICOLON>;

            tapping-term-ms = <150>;
        };

        TD_LEFT: TD_LEFT {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LEFT";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp LG(LEFT)>;

            tapping-term-ms = <110>;
        };

        TD_RIGHT: TD_RIGHT {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_RIGHT";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp LG(RIGHT)>;

            tapping-term-ms = <110>;
        };

        TD_UP: TD_UP {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_UP";
            #binding-cells = <0>;
            bindings = <&kt UP>, <&kp LG(UP)>;

            tapping-term-ms = <110>;
        };

        TD_DOWN: TD_DOWN {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DOWN";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp LG(DOWN)>;

            tapping-term-ms = <110>;
        };
    };

    macros {
        Misunderstanding: Misunderstanding {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp N &kp J &kp S &kp R &kp K &kp SPACE &kp D &kp H &kp G &kp O &kp R &kp K &kp SPACE &kp D &kp L &kp LS(T) &kp D &kp M &kp T &kp L &kp S &kp SPACE &kp E &kp M &kp T &kp SPACE &kp DOT &kp DOT &kp DOT>;
            label = "MISUNDERSTANDING";
        };

        HolyCrime: HolyCrime {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp A &kp L &kp C &kp L &kp S &kp DOT &kp SPACE &kp D &kp L &kp R &kp J &kp S &kp SPACE &kp Q &kp J &kp A &kp W &kp H &kp L &kp D &kp I>;
            label = "HOLYCRIME";
        };

        KillAgree: KillAgree {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp W &kp N &kp R &kp D &kp U &kp D &kp I &kp G &kp O &kp D &kp Y &kp RET &kp E &kp K &kp E &kp M &kp F &kp E &kp H &kp D &kp D &kp M &kp L &kp G &kp K &kp T &kp L &kp W &kp Y &kp QMARK &kp PG_UP>;
            label = "KILLAGREE";
        };

        TotallyMis: TotallyMis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp H &kp K &kp S &kp W &kp J &kp S &kp D &kp H &kp G &kp O &kp D &kp P &kp D &kp Y>;
            label = "TOTALLYMIS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Alpha {
            bindings = <
&gresc         &kp Q         &kp W     &kp E  &kp R        &kp T  &kp Y        &kp U  &kp I      &kp O          &kp P              &kp DEL          &kp BSPC
&mt LCTRL TAB  &kp A         &kp S     &kp D  &kp F        &kp G  &kp H        &kp J  &kp K      &kp L          &TD_colon_quote    &kp RET
&kp LSHFT      &kp Z         &kp X     &kp C  &kp V        &kp B  &kp N        &kp M  &kp COMMA  &kp DOT        &kp RSHIFT         &lt 3 LG(LS(S))
               &kp LEFT_GUI  &kp LALT         &lt 1 SPACE         &lt 2 SPACE                    &kp RIGHT_ALT  &kp RIGHT_CONTROL
            >;
        };

        Arrow {
            bindings = <
&kp GRAVE  &trans  &trans    &kp UP    &trans     &kp PG_UP  &trans  &trans  &trans         &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans  &trans
&lt 5 TAB  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &trans  &trans  &trans         &trans            &trans             &trans
&trans     &trans  &trans    &trans    &trans     &trans     &trans  &trans  &kp BACKSLASH  &kp SLASH         &trans             &trans
           &trans  &trans              &trans                &mo 4                          &trans            &trans
            >;
        };

        Function_Number {
            bindings = <
&kp LC(LS(ESC))  &kp F1     &kp F2    &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10    &kp F11    &kp F12
&trans           &kp N1     &kp N2    &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0     &kp ENTER
&kp LSHFT        &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp RSHFT  &trans
                 &kp LCTRL  &kp LALT          &trans          &trans                  &trans  &trans
            >;
        };

        Bluetooth {
            bindings = <
&out OUT_USB    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &sys_reset  &bootloader
&out OUT_BLE    &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR_ALL  &bt BT_CLR     &trans         &trans         &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans         &trans                        &trans          &trans                  &trans  &trans
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &mkp MB3  &mkp MB2        &mmv MOVE_UP    &trans           &msc SCRL_UP    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &mkp MB1  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans           &trans          &trans
        &trans  &trans          &trans          &trans                                    &trans           &trans
            >;
        };

        Macro {
            bindings = <
&trans  &Misunderstanding  &TotallyMis  &HolyCrime  &KillAgree  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans             &trans       &trans      &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans             &trans       &trans      &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans             &trans                   &trans              &trans                  &trans  &trans
            >;
        };
    };
};
